@import '../mixins/mixin-main.scss';
.writing {
    stroke: $blue; 
    stroke-dasharray: 22000;
    animation: drawIn 2.5s ease-in infinite; 
    fill: $blue;
}
  
// @keyframes drawIn {
//     0% {
//         stroke: transparent;
//         stroke-dashoffset: 20000;
//     }
      
//     100% {
//         stroke: $blue;
//         fill: $blue;
//     }
// }