@import '../mixins/mixin-main.scss';

@import '../mixins/mixin-main.scss';

.block-list {
    background-color: $black;
    padding: 2rem 1.875rem;
    &--three {
        background-color: $white;
        .block-list_grid-item {
            color: $black;
        }
    }
    @media only screen and (min-width: 1200px) {
        .block-list_grid-item {
            &:hover {
                &::after {
                    background: url(../img/icons/hover_arrow_white.svg) no-repeat;
                    background-size: contain;
                    width: 100%;
                }
                
            }
        }
        
        &--three {
            background-color: $white;
            .block-list_grid-item {
                &::before {
                    opacity: 1;
                }
                &::after {
                    background: url(../img/icons/arrow-black.svg) no-repeat;
                    background-size: contain;
                }
                &:hover {
                    &::after {
                        background: url(../img/icons/hover_arrow.svg) no-repeat;
                        background-size: contain;
                        width: 100%;
                    }
                    
                }
            }
        }
        
    }
    

    @media only screen and (min-width: 320px) and (max-width: 1200px) {
        padding: 0;
    }
}

.block-list_wrapper-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
    list-style: none;
    &--three {
        grid-template-columns: repeat(3,1fr);

    }
    @media only screen and (min-width: 320px) and (max-width: 1200px) {
        display: block;
        width: 100%;
    }
}

.block-list_grid-item {
    position: relative;
    padding-left: .625rem;
    padding-bottom: 10rem;
    @include paragraphDefault;
    color: $white;
    p {
        &:last-of-type {
            margin-top: .3rem;
            color: $lightGray;
        }
    }
    &--notarrow {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 0;
        &::after {
            content: none;
        }
    }
    &--witharrow {
        
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: .625rem;
            background: url(../img/icons/arrow.svg) center center no-repeat;
            background-size: contain;
            width: .75rem;
            height: .375rem;
            transition: .25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        background-color: $gray;
        height: 100%;
        opacity: .2;
    }
    @media only screen and (min-width: 320px) and (max-width: 1200px) {
        border-bottom: 1px solid $gray;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0;
        &::before {
            content: none;
        }
        &::after {
            right: 0;
            top: 1rem;
            left: unset;
        }
        p {
            &:last-of-type {
                margin-top: .3rem;
                color: $lightGray;
                max-width: 80%;
            }
        }
    }
    
}

.block-list_socials {
    display: flex;
    align-items: center;
    @media only screen and (min-width: 320px) and (max-width: 1200px) {
        margin-top: 1rem;
    }
}

.block-list_socials-item {
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    &:not(:first-of-type) {
        margin-left: .625rem;
    }
    @media only screen and (min-width: 320px) and (max-width: 1200px) {
        width: 2rem;
        height: 2rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    
}
