@import '../mixins/mixin-main.scss';

.block-news {
    // background-color: $white;
    @include fullWidthMain;
    padding: 2rem 1.875rem;
    @media only screen and (min-width: 320px) and (max-width: 1200px) {
        padding: .625rem;
    }
}


.block-news_list-item,
.block-news_wrap-nav {

    display: grid;
    grid-template-columns: repeat(12, 1fr);

    li {
        list-style: none;
    }

    @media only screen and (min-width: 320px) and (max-width: 1200px) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .block-news_list-item_author {
            width: 4rem;
        }
    }
}

.block-news_wrap-list {
    margin-left: -1.875rem;
    margin-right: -1.875rem;
    li {
        list-style: none;
    }
    @media only screen and (min-width: 320px) and (max-width: 1200px) {
        margin-left: 0;
        margin-right: 0;
    }
}

.block-news_list-item {
    margin-bottom: 2.5rem;
    transition: transform 1s cubic-bezier(0.85, 0, 0.15, 1);
    align-items: center;
    padding: 1rem 1.875rem;
    text-decoration: none;
    color: $black;
    position: relative;
    @media only screen and (min-width: 320px) and (max-width: 1200px) {
        padding: 0;
    }
    @media only screen and (min-width: 1200px) {
        &:hover {
            background-color: $gray3;
        }
    }
}

.block-news_wrap-nav {
    color: $lightGray;
    margin-bottom: 2.5rem;

    @media only screen and (min-width: 320px) and (max-width: 1200px) {
        padding-right: 1rem;
    }
}

.block-news_list-item_title,
.block-news_wrap-nav_name {
    grid-column: 1/7;
    pointer-events: none;
}

.block-news_list-item_category,
.block-news_wrap-nav_cat {
    grid-column: 8/9;
}

.block-news_list-item_date,
.block-news_wrap-nav_date {
    grid-column: 10/11;
}

.block-news_list-item_author,
.block-news_wrap-nav_author {
    grid-column: 12/13;
}

.block-news_list-item_title {
    @include h3;

    @media only screen and (min-width: 320px) and (max-width: 1200px) {
        max-width: 18rem;
    }
}

.block-news_list-item_category,
.block-news_list-item_date,
.block-news_list-item_author {
    @include paragraphDefault;
    pointer-events: none
}

.block-news_wrap-guter-content {
    h2 {
        @include h1;
        font-weight: normal;
    }

}

@media only screen and (min-width: 320px) and (max-width: 1200px) {

    .block-news_list-item_category,
    .block-news_list-item_date,
    .block-news_wrap-nav_cat,
    .block-news_wrap-nav_date {
        display: none;
    }
}


@media only screen and (min-width: 320px) and (max-width: 1200px) {

    .follow-cursor {
        display: none;
    }
}


@media only screen and (min-width: 1200px) {
    .follow-cursor {
        // display: block;
        width: 12rem;
        height: 12rem;
        position: absolute;
        left: 0;
        top: 0; /* задаём абсолютное позиционирование, чтобы элемент не влиял на остальные элементы и его можно было бы позиционировать следом за курсором */
        z-index: 999; /* чтобы элемент был над остальными элементами */
        pointer-events: none; /* чтобы сквозь элемент можно было взаимодействовать с элементами, находящимися под ним */
        transition: .5s ease-out;
        opacity: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .follow-cursor_active {
        opacity: 1;
        // pointer-events: all;
      }
    
    //   .follow-cursor_active {
    //     height: 128px;
    //     width: 128px;
    //   }
}

