@import '../mixins/mixin-main.scss';

.block-white-layout {
    background-color: $white;
    @include fullWidthMain;
    padding: 0 1.875rem;
    @media only screen and (min-width: 320px) and (max-width: 1200px) {
        padding: .625rem;
    }
}